<!DOCTYPE html>
<html>
<head>
    <title>Player vs Player (Local game)</title>
    <link rel="stylesheet" href="/static/game4/pong.css">
    <link rel="shortcut icon" href="#">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.standalone.js"></script>
</head>
<style>
body {
	background-color: rgba(0, 0, 0, 0) !important;
}

</style>
<body id="gameContainer">
    <canvas id="canvas"></canvas>    
	{{ game_name|json_script:"game_name" }}
    <script src="/static/game4/pong.js"></script>
    <script src="/static/game4/mouseControls.js"></script>
    <script src="/static/game4/touchControls.js"></script>
</body>
</html>
