Django~=4.2.11
psycopg
pillow~=10.3
gunicorn~=22.0.0
requests~=2.32.0
channels[daphne]~=4.0
channels-redis~=4.2
asyncio~=3.4.3
djangorestframework_simplejwt==5.3.1
django-cors-headers==4.3.0
twilio
pyotp
qrcode

#redis~=5.0
#django-cors-headers~=4.3
#djangorestframework~=3.15
#djangorestframework-simplejwt[crypto]~=5.3

