{% include "main_menu.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>42 Pong</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel="stylesheet" href="/static/assets/css/welcome.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">    
</head>
<body>
    <div class="container play-container">
	    <div class="row justify-content-center d-flex custom-row">
    		<div class="col-md-2 teletext-box">
        	<h3 class="teletext-title">Player vs Player</h3>
        	<p class="teletext-description">Play locally on same keyboard</p>
        	<a href="/pongapi/game4"><button class="btn teletext-button">Play</button></a>
   	 </div>
   	 <div class="col-md-2 teletext-box">
       	 	<h3 class="teletext-title">Player vs Player</h3>
        	<p class="teletext-description">Play remotely</p>
        	<a href="/pongapi/game2"><button class="btn teletext-button">Play</button></a>
   	 </div>
   	 <div class="col-md-2 teletext-box">
        	<h3 class="teletext-title">Player vs CPU</h3>
        	<p class="teletext-description">Play locally against AI</p>
       	 	<a href="/pongapi/game3"><button class="btn teletext-button">Play</button></a>
    	</div>
    	<div class="col-md-2 teletext-box">
        	<h3 class="teletext-title">Remote Tournament</h3>
        	<p class="teletext-description">3 min game with friends</p>
        	<a href="/pongapi/tournament"><button class="btn teletext-button">Play</button></a>
    	</div>
    <div class="col-md-2 teletext-box">
        	<h3 class="teletext-title">Local Tournament</h3>
        	<p class="teletext-description">3 min game with friends</p>
        	<a href="/pongapi/localt"><button class="btn teletext-button">Play</button></a>
   	 </div>
<div style="display: flex; flex-direction: column; z-index: 1;">
    <div id="iframechat">
        <iframe src="/chat" id="chatiframe" style="width: 100%; border: none;" onload="resizeIframe(this)"></iframe>
    </div>
</div>
<center style="color: white;">
    {{ Data.ErrorMsg }}
</center>
<script src="/static/pongapi/spalinks.js"></script>
    <script>
        function resizeIframe(iframe) {
            iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
        }

        document.addEventListener('DOMContentLoaded', function() {
            window.addEventListener('message', function(event) {
                if (event.data && event.data.type === 'resize-iframe') {
                    var chatIframe = document.getElementById('chatiframe');
                    if (chatIframe) {
                        chatIframe.style.height = event.data.height + 'px';
                    }
                }
            });

            window.addEventListener('resize', function() {
                const iframe = document.getElementById('chatiframe');
                if (iframe) {
                    iframe.style.height = 'auto';
                    resizeIframe(iframe);
                }
            });
        });
    </script>
</body>
</html>


