
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pong 42 New User</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/css/welcome.css">
    <style>
        .hidden {
            display: none;
        }
        .visible {
            z-index: 1;
        }
		body {
			background-color: transparent;
		}
    </style>
</head>
<body>
    <div class="all-login">
        <div class="login" style="z-index: 1;">
            <form class="post-form" method="POST">{% csrf_token %}
                <h2>Welcome</h2>
                {{ form.as_p }}
                <button type="submit" class="submit arrow">Login</button>
                <div class="buttons">
                    <a href="/pongapi/newuser"><button class="submit" type="button">New User</button></a>
                    <div><p style="color:black;">{{ Data.ErrorMsg }}</p></div>
                </div>
            </form>
        </div>
    </div>
</body>

