{% include "main_menu.html" %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>42 Pong</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel="stylesheet" href="/static/assets/css/welcome.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
	
</head>
<body>
	<div class="allpage">
		<div class="container play-container">
			<div class="row justify-content-center d-flex flex-nowrap">
				<div class="col-md-2 teletext-box m-2">
					<h3 class="teletext-title">Player vs Player</h3>
					<p class="teletext-description">Play locally on same keyboard</p>
					<a href="/pongapi/game4"><button class="btn teletext-button">Play</button></a>
				</div>
				<div class="col-md-2 teletext-box m-2">
					<h3 class="teletext-title">Player vs Player</h3>
					<p class="teletext-description">Play remotely</p>
					<a href="/pongapi/game2"><button class="btn teletext-button">Play</button></a>
				</div>
				<div class="col-md-2 teletext-box m-2">
					<h3 class="teletext-title">Player vs CPU</h3>
					<p class="teletext-description">Play locally against AI</p>
					<a href="/pongapi/game3"><button class="btn teletext-button">Play</button></a>
				</div>
				<div class="col-md-2 teletext-box m-2">
					<h3 class="teletext-title">TOURNAMENT</h3>
					<p class="teletext-description">3 min game with friends</p>
					<a href="/pongapi/tournament"><button class="btn teletext-button">Play</button></a>
				</div>
				<div class="col-md-2 teletext-box m-2">
					<h3 class="teletext-title">Local Tournament</h3>
					<p class="teletext-description">3 min game with friends</p>
					<a href="/pongapi/localt"><button class="btn teletext-button">Play</button></a>
				</div>
			</div>
		</div>
	</div>
	<div id="iframechat">
		<iframe src="/chat" style="width: 100%; height: 450px;"></iframe>
	</div>
</body>
</html>
<body>
	<center style="color: white;">
		{{ Data.ErrorMsg }}
	</center>
	<script src="/static/pongapi/spalinks.js"></script>
</body>


