@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

html, body {
	font-family: 'Press Start 2P';
	height: 100%;
	margin: 0;
	padding: 0;
/*	background-color: #221;*/
	background-image: url('giphy.gif');
	text-transform: uppercase;

}

.welcome {
	font-size: 60px;
	 letter-spacing: 10px;
	 margin-top: 70px;

}

.all-login {
	display: flex;
	justify-content: center;
	align-items:center;
	margin-top: 10%;
}

.login {
	width: 600px;
	background: #fff;
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: black;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-top: 10%;
}

.post-form {
	display: flex;
	border-radius: 40px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 500px;
	height: 400px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
	50% {
		opacity: 1;
	}
    100% {
        opacity: 0; 
    }
}

h2 {
	text-align: center;
	font-size: 50px;
	animation: aparecer 1.5s infinite;
}



label {
	font-weight: bold;
	display: flex;
	font-size: 18px;
 }

input[type="text"], input[type="email"], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 18px;
}

button {
	display: block;
	border: 0;
	padding: 10px 10px;
	width: 200px;
	cursor: pointer;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

button:hover {
	background: #555;
}

a {
  text-decoration: none;
  color: #fff090;
}

.static-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Colocar el fondo detr치s del contenido */
  background-image: url('static.gif'); /* URL del GIF de est치tica */
  background-size: cover; /* Ajustar el tama침o del fondo al tama침o de la ventana */
}
