@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

html, body {
	color: white;
	font-family: 'Press Start 2P';
	    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.form-email {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
}

#content {
	overflow-y: scroll;
	overflow-x: scroll;
}
