<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pong 42 Chat</title>
</head>
<body>
	<div id="DISPLAYNAME" style="float: left;"></div>
	<div style="float: right;"><img id="CONNECTION_STATUS" src="/static/chat/disconnect.png" width="15" height="15" /><p id=STATUS>Disconnect</p></div>
	<div>&nbsp;</div>
	<hr/>
	<div style="display: flex;">
	
		<label>
			<span>User list</span>
				<select id="USERLIST" name="All user list" size="10"></select>
		</label>
		<label>
			<span>Users connected</span>
				<select id="CONNECTEDUSERLIST" name="Connected Users" size="10"></select>
		</label>
		<label>
			<span>Block users</span>
				<select id="BLOCKUSERS" name="Block Users" size="10"></select>
			</label>
		<label style="display: flex; align-items: flex-start;">
			<span>Chat</span>
			<div id="CONTAINER_CHAT_TEXT">
				<textarea id="CHATTEXT" cols="50" rows="10"></textarea>
			</div>
			</label>
	</div>
	&nbsp;
	<div>
		<input id="SEND_MSG" type="button" value="Send message">
		<input id="CHAT_MSG_INPUT" type="text" size="50"><br>
	</div>
	&nbsp;
	<div>
		<input id="CHAT_ALL_USERS" type="button" value="Chat with all users">
		<input id="CHAT_SELECTED_USER" type="button" value="Chat with selected user">
		<input id="BLOCK_SELECTED_USER" type="button" value="Block selected user">
		<input id="UNBLOCK_SELECTED_USER" type="button" value="Unblock selected user">
	</div>
	
	<style>
		span, input {        
		vertical-align: top;
		}
	</style>
	<script src="/static/chat/chat.js"></script>
</body>
</html>