<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-6gG0j1d2TujP8wGXbQGF1gxIJH5GyfgL9n7BdGzppHw4+UfJjsR6xNogwFJrMKImzA7IS+PvOIHPP5TI7v4iKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/friends.css">
    <title>Pong 42 friends</title>
</head>
<style>
    #closeMenu {
        background-color: grey;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
        transition: background-color 0.3s ease;
    }

    #closeMenu:hover {
        background-color: #45a049;
    }
</style>
<body>
	<div class="nav-item">
		<button id="closeMenu"><i class="fas fa-arrow-right"></i></button>
	</div>

    Friends connected
    <table id="userTable">
        <tr>
            <th></th>
            <th></th>
        </tr>
    </table>
    Friends list
    <div>
        <select id="friendsList" size="10">
	</select>
    </div>
    Users list
    <div>
        <select id="userList" size="10"></select>
    </div>
    <div>
        <button id="addFriend" class="button">Add friend</button>
        <button id="removeFriend" class="button">Remove friend</button>
    </div>
    <script src="/static/friends/friends.js"></script>
        <script>
  	document.getElementById('closeMenu').addEventListener('click', function() {
            parent.postMessage('closeIframe', '*');
        });
	</script>
</body>
</html>
