{% include "main_menu.html" %}    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teletext Style Page</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel="stylesheet" href="/static/assets/css/welcome.css">
</head>
<body>
	<div class="welcome">
		<h1>Welcome</h1>
	</div>
	<div class="button-container">
		<button class="button submit arrow" type="submit" id="boton1" href="/main/login">Login or register</button>
  	<button class="button submit" id="boton2" href="{{Data.URL42}}">Login with 42</button>
  	<button class="button" id="boton3">Play annonimous</button>
	</div>
<div class="allpage">
    <div class="container play-container">
        <div class="row justify-content-center">
            <div class="col-md-2 teletext-box m-2">
                <h3 class="teletext-title">Player vs Player</h3>
		<p class="teletext-description">Play locally</p>
		<a href="/game4"><button class="btn teletext-button">Play</button></a>
            </div>
            <div class="col-md-2 teletext-box m-2">
                <h3 class="teletext-title">Player vs Player</h3>
		<p class="teletext-description">Play remote</p>
		<a href="/game2"><button class="btn teletext-button" href="/game2/GameTest2/">Play</button></a>
            </div>
	    <div class="col-md-2 teletext-box m-2">
                <h3 class="teletext-title">1 vs AI</h3>
                <p class="teletext-description">play with our amazing AI</p>
		<a src="game3"><button class="btn teletext-button" href="/game2/GameTest2/">Play</button></a>
            </div>
		<div class="col-md-2 teletext-box m-2">
			<h3 class="teletext-title">TOURNAMENT</h3>
		<p class="teletext-description">3 min game with friends</p>
                <button class="btn teletext-button" href="/game2/GameTest2/">Play</button>
            </div>

        </div>
	</div>
	<div>
	<div id="iframechat">
	    <iframe src="/chat" style="width: 100%; height: 450px;"></iframe></div>

    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var displayNameElement = document.getElementById('displayname');
			    console.log(displayNameElement);
            if (displayNameElement !== '') {
                document.querySelector('.welcome').style.display = 'none';
				document.querySelector('.button-container').style.display = 'none';
            }
		else
				    document.querySelector('.container').style.display = 'none';
        });
    </script>
</body>
</html>
<body>
	<center style="color: white;">
		{{ Data.ErrorMsg }}
	</center>
</body>
</html>
