{% include "main_menu.html" %}    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teletext Style Page</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
</head>
<body>
	<div class="background-container">
        <canvas id="test"></canvas>
	</div>
	<div style="display: flex; justify-content: center; align-items: center; height: 100vh; color: white; z-index: 1">
		{{ Data.ErrorMsg }}
	</div>
	<script src="/static/main/background.js"></script>
</body>
</html>
