<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong 42</title>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			//var currentUrl = window.top.location.href; 
			//var rootUrl = window.top.location.origin; 
			//if (currentUrl !== rootUrl + "/") {
				window.top.location.href = "/"; 
			//}
		});
	</script>
</head>
<body>
	<style>
		body {
			background-color: black;
		}
	</style>
</body>
</html>