{% include "main_menu.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pong 42 New User</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/css/welcome.css">
    <style>
        .hidden {
            display: none;
        }
        .visible {
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="background-container">
        <canvas id="test"></canvas>
    </div>
    <div class="all-welcome">
        <div class="welcome">
            <h1>Welcome</h1>
        </div>
        <div class="button-container">
            <a href="#" class="button submit arrow" id="boton1">Login or register</a>
            <a href="{{Data.URL42}}" class="button submit" id="boton2">Login with 42</a>
            <a href="/main/logina" class="button" id="boton3">Play anonymous</a>
        </div>
    </div>
    <div class="all-login hidden">
        <div class="login" style="z-index: 1;">
            <form class="post-form" method="POST">{% csrf_token %}
                <h2>Welcome</h2>
                {{ form.as_p }}
                <button type="submit" class="submit arrow">Login</button>
                <div class="buttons">
                    <a href="/main/newuser"><button class="submit" type="button">New User</button></a>
                    <div><p style="color:black;">{{ Data.ErrorMsg }}</p></div>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.all-login').classList.add('hidden');
            document.querySelector('.all-welcome').classList.remove('hidden');
            
            document.getElementById('boton1').addEventListener('click', function (event) {
                event.preventDefault();
                document.querySelector('.all-welcome').classList.add('hidden');
                let allLogin = document.querySelector('.all-login');
                allLogin.classList.remove('hidden');
                allLogin.classList.add('visible');
            });
        });
    </script>
    <script src="/static/main/background.js"></script>
</body>

</html>

