<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong 42</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <script>
        const baseUrl = window.location.href;
        const iframeUrl = baseUrl + "main/main";
    </script>
    <iframe name="rootiframe" src="main" frameborder="0"></iframe>
</body>
</html>