<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong 42</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-6gG0j1d2TujP8wGXbQGF1gxIJH5GyfgL9n7BdGzppHw4+UfJjsR6xNogwFJrMKImzA7IS+PvOIHPP5TI7v4iKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/Navbar-Centered-Brand.css">
    <link rel="stylesheet" href="/static/assets/css/styles.css">
</head>
<style>
	body {
		overflow-x: hidden;
	}

    #toggleButton {
        background-color: grey;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
        transition: background-color 0.3s ease;
    }

    #toggleButton:hover {
        background-color: #45a049;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light py-3">
        <a href="/">
            <img src="/static/assets/img/logo.gif" width="100" height="100" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="/main/login">Login</a>
                        <a class="dropdown-item" href="/main/edituser">Edit profile</a>
                        <a onclick="return confirm('Are you sure want to close the session?')" class="dropdown-item" href="/main/logoff">Logoff</a>
                        <a class="dropdown-item" href="/deploy">Deploy</a>
                        <a class="dropdown-item" href="/deploy/reboot">Reboot</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statistics
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="/main/stats">View</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Game
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" href="/main/game">Player vs CPU</a>
                        <a class="dropdown-item" href="/game4">Player vs Player (local)</a>
                        <a class="dropdown-item" href="/game2">Player vs Player (remote)</a>
                        <a class="dropdown-item" href="/chat">Chat</a>
                    </div>
                </li>
            </ul>
	    <div class="navbar-text" style="display: flex">
                <img src="{{User.avatar}}" width="30" height="30" style="margin-right: 0.4rem;" class="rounded-circle" alt="Usuario" onerror="this.onerror=null; this.src='/static/avatars/default.jpg'">
                <p id="displayname" class="mb-0 me-3" style="color:white">{{ User.displayname }}</p>
            </div>
	    <div class="nav-item">
		    <button id="toggleButton"> <i class="fas fa-users"></i></button>
		    </div>
        </div>
    </nav>
    <div id="iframeContainer" style="position: fixed; top: 0; right: 0; height: 100%; width: 14%; display: none;">
	    <iframe src="/friends" style="height: 100%; width: 100%;"></iframe></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        var displayName = document.getElementById('displayname').innerText;
        if (displayName !== '') {
            document.getElementById('toggleButton').style.display = 'block';
        }
        document.getElementById('toggleButton').addEventListener('click', function() {
            var displayName = document.getElementById('displayname').innerText;
            if (displayName !== '') {
                var iframeContainer = document.getElementById('iframeContainer');
                if (iframeContainer.style.display === 'none') {
                    iframeContainer.style.display = 'block';
                } else {
                    iframeContainer.style.display = 'none';
                }
            }
        });
    </script>
</body>
</html>

