{% include "main_menu.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pong 42 Welcome</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
    <link rel="stylesheet" href="/static/assets/css/welcome.css">
    <style>
        .hidden {
            display: none;
        }
        .visible {
            z-index: 1;
        }
    </style>
</head>
<body>
    <div class="all-welcome">
        <div class="welcome">
            <!--<h1>Welcome</h1>-->            
            <!---<h4>Welcome to Pong 42, the ultimate retro gaming experience! Relive the excitement of the iconic arcade 
                game by playing solo or challenging some friends. Sharpen your reflexes and get ready to serve, volley,
                and score in this timeless battle of paddles and pixels.</h4>-->
            <h4>Welcome to Pong 42, the ultimate retro gaming experience!</h4>
        </div>
        <div class="button-container">
            <a href="/main/logini" class="button submit arrow" id="boton1">Login or register</a>
            <a href="{{Data.URL42}}" class="button submit" id="boton2" target="_top">Login with 42</a>
            <a href="/main/logina" class="button" id="boton3">Play anonymous</a>
        </div>
    </div>
	<script src="/static/main/spalinks.js"></script>
</body>
</html>