{% include "main_menu.html" %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/assets/css/welcome.css">
<link rel="stylesheet" href="/static/assets/css/background.css">
<title>Bienvenido</title>
<script>
    function cargarPagina(url) {
        document.getElementById('iframe-contenido').src = url;
    }
</script>
</head>
<body>
	<div class="background-container">
        <canvas id="test"></canvas>
	</div>
<div class="welcome">
	<h1>Welcome</h1>
</div>
<div class="button-container">
	<a src="/main/welcome" class="button submit arrow" type="submit" id="boton1">Login or register</a>
		<a href="{{Data.URL42}}" class="button submit" id="boton2">Login with 42</a>
		<a href="" class="button" id="boton3">Play annonimous</a>
</div>
<script src="/static/main/background.js"></script>
</body>
</html>
