{% include "main_menu.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pong 42 New User</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/login.css">
    <link rel="stylesheet" href="/static/assets/css/background.css">
</head>

<body>
	<div class="background-container">
        <canvas id="test"></canvas>
	</div>
	<div class="all-login" style="z-index: 1;">
    	<div class="login" style="z-index: 1;">
			<form class="post-form" method="POST" style="z-index: 1;">{% csrf_token %}
        	<h2>Welcome</h2>
			{{ form.as_p }}
			<button type="submit" class="submit arrow" >Login</button>
			<div class="buttons">
			<a href="/main/newuser"><button class="submit">New User</button></a>
			<div><p style="color:black;">{{ Data.ErrorMsg }}</p></div>
			</div>
			</form>
	</div>
	</div>
	<script src="/static/main/background.js"></script>
</body>

</html>
